<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="backend.mapper.LogMapper">

    <sql id="DynamicFields">
        <trim suffixOverrides=",">
            <if test="scope.id == true"> id, </if>
            <if test="scope.userId == true"> user_id, </if>
            <if test="scope.endpoint == true"> endpoint, </if>
            <if test="scope.operation == true"> operation, </if>
            <if test="scope.created == true"> created, </if>
        </trim>
    </sql>

    <sql id="DynamicWhere">
        <where>
            <if test="log.id != null"> and id = #{log.id} </if>
            <if test="log.userId != null"> and user_id = #{log.userId} </if>
            <if test="log.endpoint != null"> and endpoint = #{log.endpoint} </if>
            <if test="log.operation != null"> and operation = #{log.operation} </if>
            <if test="log.created != null"> and created = #{log.created} </if>
        </where>
    </sql>

    <insert id="insertLog">
        insert into Log
        (user_id, endpoint, operation, created)
        values
        (#{userId}, #{endpoint}, #{operation}, #{created})
    </insert>

    <select id="selectLog" resultType="backend.model.entity.Log">
        select
            <include refid="DynamicFields" />
        from Log
            <include refid="DynamicWhere" />
    </select>

    <update id="updateLog">
        update Log
        <set>
            <if test="logUpdate.userId != null"> user_id = #{logUpdate.userId}, </if>
            <if test="logUpdate.endpoint != null"> endpoint = #{logUpdate.endpoint}, </if>
            <if test="logUpdate.operation != null"> operation = #{logUpdate.operation}, </if>
            <if test="logUpdate.created != null"> created = #{logUpdate.created}, </if>
        </set>
        <where>
            <if test="logQuery.id != null"> and id = #{logQuery.id} </if>
            <if test="logQuery.userId != null"> and user_id = #{logQuery.userId} </if>
            <if test="logQuery.endpoint != null"> and endpoint = #{logQuery.endpoint} </if>
            <if test="logQuery.operation != null"> and operation = #{logQuery.operation} </if>
            <if test="logQuery.created != null"> and created = #{logQuery.created} </if>
        </where>
    </update>

</mapper>