<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="backend.mapper.MajorToTeacherMapper">
    
    <sql id="DynamicFields">
        <trim suffixOverrides=",">
            <if test="scope.id == true"> id, </if>
            <if test="scope.tid == true"> tid, </if>
            <if test="scope.mid == true"> mid, </if>
            <if test="scope.valid == true"> valid, </if>
            <if test="scope.metric == true"> metric, </if>
        </trim>
    </sql>

    <sql id="DynamicWhere">
        <where>
            <if test="majorToTeacherQuery.id != null"> and id = #{majorToTeacherQuery.id} </if>
            <if test="majorToTeacherQuery.tid != null"> and tid = #{majorToTeacherQuery.tid} </if>
            <if test="majorToTeacherQuery.mid != null"> and mid = #{majorToTeacherQuery.mid} </if>
            <if test="majorToTeacherQuery.valid != null"> and valid = #{majorToTeacherQuery.valid} </if>
            <if test="majorToTeacherQuery.metric != null"> and metric = #{majorToTeacherQuery.metric} </if>
        </where>
    </sql>
    
    <insert id="insertMajorToTeacher">
        insert into MajorToTeacher
        (
            tid,
            mid,
            valid,
            metric
        )
        values
        (
            #{tid},
            #{mid},
            #{valid},
            #{metric}
        )
    </insert>

    <select id="selectMajorToTeacher" resultType="backend.model.entity.MajorToTeacher">
        select
            <include refid="DynamicFields" />
        from MajorToTeacher
            <include refid="DynamicWhere" />
    </select>

    <update id="updateMajorToTeacher">
        update MajorToTeacher
        <set>
            <if test="majorToTeacherUpdate.tid != null"> tid = #{majorToTeacherUpdate.tid}, </if>
            <if test="majorToTeacherUpdate.mid != null"> mid = #{majorToTeacherUpdate.mid}, </if>
            <if test="majorToTeacherUpdate.valid != null"> valid = #{majorToTeacherUpdate.valid}, </if>
            <if test="majorToTeacherUpdate.metric != null"> metric = #{majorToTeacherUpdate.metric}, </if>
        </set>
        <where>
            <if test="majorToTeacherQuery.id != null"> and id = #{majorToTeacherQuery.id} </if>
            <if test="majorToTeacherQuery.tid != null"> and tid = #{majorToTeacherQuery.tid} </if>
            <if test="majorToTeacherQuery.mid != null"> and mid = #{majorToTeacherQuery.mid} </if>
            <if test="majorToTeacherQuery.valid != null"> and valid = #{majorToTeacherQuery.valid} </if>
            <if test="majorToTeacherQuery.metric != null"> and metric = #{majorToTeacherQuery.metric} </if>
        </where>
    </update>

</mapper>