<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="backend.mapper.StudentMapper">

    <sql id="DynamicFields">
        <trim suffixOverrides=",">
            <if test="scope.id == true"> id, </if>
            <if test="scope.userId == true"> user_id as "userId", </if>
            <if test="scope.department == true"> department, </if>
            <if test="scope.birth == true"> birth, </if>
            <if test="scope.address == true"> address, </if>
            <if test="scope.majorGrad == true"> major_grad as "majorGrad", </if>
            <if test="scope.school == true"> school, </if>
            <if test="scope.type == true"> type, </if>
            <if test="scope.enrollment == true"> enrollment, </if>
            <if test="scope.reassign == true"> reassign, </if>
            <if test="scope.valid == true"> valid, </if>
            <if test="scope.examId  == true"> exam_id as "examId", </if>
            <if test="scope.emergency == true"> emergency, </if>
            <if test="scope.gradeFirst == true"> grade_first as "gradeFirst", </if>
            <if test="scope.gradeSecond == true"> grade_second as "gradeSecond", </if>
            <if test="scope.majorApply == true"> major_apply as "majorApply", </if>
            <if test="scope.majorStudy == true"> major_study as "majorStudy", </if>
            <if test="scope.disabled == true"> disabled, </if>
            <if test="scope.quality == true"> quality, </if>
            <if test="scope.certifyId == true"> certify_id as "certifyId", </if>
        </trim>
    </sql>

    <sql id="DynamicWhere">
        <where>
            <if test="student.id != null"> and id = #{student.id} </if>
            <if test="student.userId != null"> and user_id = #{student.userId} </if>
            <if test="student.department != null"> and department = #{student.department} </if>
            <if test="student.birth != null"> and birth = #{student.birth} </if>
            <if test="student.address != null"> and address = #{student.address} </if>
            <if test="student.majorGrad != null"> and major_grad = #{student.majorGrad} </if>
            <if test="student.school != null"> and school = #{student.school} </if>
            <if test="student.type != null"> and type = #{student.type} </if>
            <if test="student.enrollment != null"> and enrollment = #{student.enrollment} </if>
            <if test="student.reassign != null"> and reassign = #{student.reassign} </if>
            <if test="student.valid != null"> and valid = #{student.valid} </if>
            <if test="student.examId  != null"> and exam_id  = #{student.examId } </if>
            <if test="student.emergency != null"> and emergency = #{student.emergency} </if>
            <if test="student.gradeFirst != null"> and grade_first = #{student.gradeFirst} </if>
            <if test="student.gradeSecond != null"> and grade_second = #{student.gradeSecond} </if>
            <if test="student.majorApply != null"> and major_apply = #{student.majorApply} </if>
            <if test="student.majorStudy != null"> and major_study = #{student.majorStudy} </if>
            <if test="student.disabled != null"> and disabled = #{student.disabled} </if>
            <if test="student.quality != null"> and quality = #{student.quality} </if>
            <if test="student.certifyId != null"> and certify_id = #{student.certifyId} </if>
        </where>
    </sql>

    <insert id="insertStudent">
        insert into Student
        (
            user_id,
            department,
            birth,
            address,
            major_grad,
            school,
            type,
            enrollment,
            reassign,
            valid,
            exam_id ,
            emergency,
            grade_first,
            grade_second,
            major_apply,
            major_study,
            disabled,
            quality,
            certify_id
        )
        values
        (
            #{userId},
            #{department},
            #{birth},
            #{address},
            #{majorGrad},
            #{school},
            #{type},
            #{enrollment},
            #{reassign},
            #{valid},
            #{examId },
            #{emergency},
            #{gradeFirst},
            #{gradeSecond},
            #{majorApply},
            #{majorStudy},
            #{disabled},
            #{quality},
            #{certifyId}
        )
    </insert>

    <select id="selectStudent" resultType="backend.model.entity.Student">
        select
            <include refid="DynamicFields" />
        from Student
            <include refid="DynamicWhere" />
    </select>

    <update id="updateStudent">
        update Student
        <set>
            <if test="studentUpdate.userId != null"> user_id = #{studentUpdate.userId}, </if>
            <if test="studentUpdate.department != null"> department = #{studentUpdate.department}, </if>
            <if test="studentUpdate.birth != null"> birth = #{studentUpdate.birth}, </if>
            <if test="studentUpdate.address != null"> address = #{studentUpdate.address}, </if>
            <if test="studentUpdate.majorGrad != null"> major_grad = #{studentUpdate.majorGrad}, </if>
            <if test="studentUpdate.school != null"> school = #{studentUpdate.school}, </if>
            <if test="studentUpdate.type != null"> type = #{studentUpdate.type}, </if>
            <if test="studentUpdate.enrollment != null"> enrollment = #{studentUpdate.enrollment}, </if>
            <if test="studentUpdate.reassign != null"> reassign = #{studentUpdate.reassign}, </if>
            <if test="studentUpdate.valid != null"> valid = #{studentUpdate.valid}, </if>
            <if test="studentUpdate.examId  != null"> exam_id  = #{studentUpdate.examId }, </if>
            <if test="studentUpdate.emergency != null"> emergency = #{studentUpdate.emergency}, </if>
            <if test="studentUpdate.gradeFirst != null"> grade_first = #{studentUpdate.gradeFirst}, </if>
            <if test="studentUpdate.gradeSecond != null"> grade_second = #{studentUpdate.gradeSecond}, </if>
            <if test="studentUpdate.majorApply != null"> major_apply = #{studentUpdate.majorApply}, </if>
            <if test="studentUpdate.majorStudy != null"> major_study = #{studentUpdate.majorStudy}, </if>
            <if test="studentUpdate.disabled != null"> disabled = #{studentUpdate.disabled}, </if>
            <if test="studentUpdate.quality != null"> quality = #{studentUpdate.quality}, </if>
            <if test="studentUpdate.certifyId != null"> certify_id = #{studentUpdate.certifyId}, </if>
        </set>
        <where>
            <if test="studentQuery.id != null"> and id = #{studentQuery.id} </if>
            <if test="studentQuery.userId != null"> and user_id = #{studentQuery.userId} </if>
            <if test="studentQuery.department != null"> and department = #{studentQuery.department} </if>
            <if test="studentQuery.birth != null"> and birth = #{studentQuery.birth} </if>
            <if test="studentQuery.address != null"> and address = #{studentQuery.address} </if>
            <if test="studentQuery.majorGrad != null"> and major_grad = #{studentQuery.majorGrad} </if>
            <if test="studentQuery.school != null"> and school = #{studentQuery.school} </if>
            <if test="studentQuery.type != null"> and type = #{studentQuery.type} </if>
            <if test="studentQuery.enrollment != null"> and enrollment = #{studentQuery.enrollment} </if>
            <if test="studentQuery.reassign != null"> and reassign = #{studentQuery.reassign} </if>
            <if test="studentQuery.valid != null"> and valid = #{studentQuery.valid} </if>
            <if test="studentQuery.examId  != null"> and exam_id  = #{studentQuery.examId } </if>
            <if test="studentQuery.emergency != null"> and emergency = #{studentQuery.emergency} </if>
            <if test="studentQuery.gradeFirst != null"> and grade_first = #{studentQuery.gradeFirst} </if>
            <if test="studentQuery.gradeSecond != null"> and grade_second = #{studentQuery.gradeSecond} </if>
            <if test="studentQuery.majorApply != null"> and major_apply = #{studentQuery.majorApply} </if>
            <if test="studentQuery.majorStudy != null"> and major_study = #{studentQuery.majorStudy} </if>
            <if test="studentQuery.disabled != null"> and disabled = #{studentQuery.disabled} </if>
            <if test="studentQuery.quality != null"> and quality = #{studentQuery.quality} </if>
            <if test="studentQuery.certifyId != null"> and certify_id = #{studentQuery.certifyId} </if>
        </where>
    </update>

    <update id="invalidateStudent" >
        update
            Student
        set
            valid = 1
        where
            id in
            <foreach collection="students" item="student" open="(" separator="," close=")">
                #{student.userId}
            </foreach>

    </update>

</mapper>